/Java Introduction/Book02.Programming Basics/nbproject/private/
/Java Introduction/Book02.Programming Basics/build/
/Java SE 8 Fundamental_Exercises/JavaApplication1/build/
/Java SE 8 Fundamental_Exercises/JavaApplication1/nbproject/private/
/Java Introduction/Book03.ObjectOrientedProgramming/nbproject/private/
/Java Advanced Projects/Practices/Java SE Programming/nbproject/private/
/Java Advanced Projects/Java SE Programming_Pratices/nbproject/private/
/JavaApplication8/nbproject/private/
/Java Advanced SE Programming/nbproject/private/
/Java Advanced Projects/Pratices/Employee/nbproject/private/
/Java Advanced Projects/Pratices/Employee/build/
