/Java Introduction/Book02.Programming Basics/nbproject/private/
/Java Introduction/Book02.Programming Basics/build/
/Java SE 8 Fundamental_Exercises/JavaApplication1/build/
/Java SE 8 Fundamental_Exercises/JavaApplication1/nbproject/private/
/Java Introduction/Book03.ObjectOrientedProgramming/nbproject/private/
/Java Advanced Projects/Practices/Java SE Programming/nbproject/private/
/Java Advanced Projects/Java SE Programming_Pratices/nbproject/private/
/JavaApplication8/nbproject/private/
/Java Advanced SE Programming/nbproject/private/
/Java Advanced Projects/Pratices/Employee/nbproject/private/
/Java Advanced Projects/Pratices/Employee/build/
/Java Advanced Projects/Practices/Employee/build/
/Java Advanced Projects/Practices/Employee/nbproject/private/
/Java Advanced Projects/Practices/Employee03-01Prac/nbproject/private/
/Java Advanced Projects/Practices/Employee02-01Prac/nbproject/private/
/Java Advanced Projects/Practices/Employee03-01Prac/build/
/Java Advanced Projects/Practices/Employee02-01Prac/build/
/Java Advanced Projects/Practices/Employee04-01Prac/nbproject/private/
/Java Advanced Projects/Practices/Employee04-02Prac/nbproject/private/
/Java Advanced Course Work/Practices/Employee02-01Prac/build/
/Java Advanced Course Work/Practices/Employee02-01Prac/nbproject/private/
/Java Advanced Course Work/Practices/Employee03-01Prac/build/
/Java Advanced Course Work/Practices/Employee03-01Prac/nbproject/private/
/Java Advanced Course Work/Practices/Employee04-01Prac/nbproject/private/
/Java Advanced Course Work/Practices/Employee04-02Prac/nbproject/private/
/Java Advanced Course Work/Practices/Singleton04-03Prac/nbproject/private/
/Java Advanced Course Work/Practices/Employee04-01Prac/build/
/Java Advanced Course Work/Practices/Employee04-02Prac/build/
/Java Advanced Course Work/Practices/Pet06-01Prac/build/
